In [1]:
import numpy as np
import pandas as pd

In [2]:
appearances_df = pd.read_excel(r"C:\\Users\\pawan singh\\OneDrive\\Desktop\\project details\\appearances.xlsx")
game_events_df = pd.read_excel(r"C:\\Users\\pawan singh\\OneDrive\\Desktop\\project details\\game_events.xlsx")
game_lineups_df = pd.read_excel(r"C:\\Users\\pawan singh\\OneDrive\\Desktop\\project details\\game_lineups.xlsx")
games_df = pd.read_excel(r"C:\\Users\\pawan singh\\OneDrive\\Desktop\\project details\\games.xlsx")
players_df = pd.read_excel(r"C:\\Users\\pawan singh\\OneDrive\\Desktop\\project details\\players.xlsx")

appearances_df.columns
game_events_df.columns

Index(['game_event_id', 'date', 'game_id', 'minute', 'type', 'player_id',
       'description', 'player_in_id'],
      dtype='object')

In [3]:
df = pd.merge(appearances_df, players_df, on='player_id', how='outer')                                    # joining players and appearances df
df = pd.merge(df, games_df, on='game_id', how='outer')                                                    # joining merged df and games df
df = pd.merge(df, game_events_df, on=['game_id', 'player_id'], how='outer')      # joining merged df and game events df
df = pd.merge(df, game_lineups_df, on=['game_id', 'player_id'], how='outer')    # joining merged df and game lineups df
df.columns

Index(['appearance_id', 'game_id', 'player_id', 'date_x', 'player_name_x',
       'competition_id_x', 'yellow_cards', 'red_cards', 'goals', 'assists',
       'minutes_played', 'name', 'last_season', 'current_club_id',
       'player_code', 'country_of_birth', 'date_of_birth', 'sub_position',
       'position_x', 'foot', 'height_in_cm', 'market_value_in_eur',
       'highest_market_value_in_eur', 'contract_expiration_date', 'agent_name',
       'competition_id_y', 'season', 'round', 'date_y', 'home_club_goals',
       'away_club_goals', 'home_club_position', 'away_club_position',
       'home_club_manager_name', 'away_club_manager_name', 'stadium',
       'attendance', 'referee', 'home_club_name', 'away_club_name',
       'aggregate', 'competition_type', 'game_event_id', 'date', 'minute',
       'type_x', 'description', 'player_in_id', 'game_lineups_id', 'type_y',
       'number', 'player_name_y', 'team_captain', 'position_y'],
      dtype='object')

In [4]:
df.shape

(4654, 54)

In [5]:
df = pd.merge(appearances_df, players_df, on='player_id', how='outer', suffixes=('', '_players'))         # joining players and appearances df
df = pd.merge(df, games_df, on='game_id', how='outer', suffixes=('', '_games'))                           # joining merged df and games df
df = pd.merge(df, game_events_df, on=['game_id', 'player_id'], how='outer', suffixes=('', '_event'))      # joining merged df and game events df
df = pd.merge(df, game_lineups_df, on=['game_id', 'player_id'], how='outer', suffixes=('', '_lineup'))    # joining merged df and game lineups df
df.columns

Index(['appearance_id', 'game_id', 'player_id', 'date', 'player_name',
       'competition_id', 'yellow_cards', 'red_cards', 'goals', 'assists',
       'minutes_played', 'name', 'last_season', 'current_club_id',
       'player_code', 'country_of_birth', 'date_of_birth', 'sub_position',
       'position', 'foot', 'height_in_cm', 'market_value_in_eur',
       'highest_market_value_in_eur', 'contract_expiration_date', 'agent_name',
       'competition_id_games', 'season', 'round', 'date_games',
       'home_club_goals', 'away_club_goals', 'home_club_position',
       'away_club_position', 'home_club_manager_name',
       'away_club_manager_name', 'stadium', 'attendance', 'referee',
       'home_club_name', 'away_club_name', 'aggregate', 'competition_type',
       'game_event_id', 'date_event', 'minute', 'type', 'description',
       'player_in_id', 'game_lineups_id', 'type_lineup', 'number',
       'player_name_lineup', 'team_captain', 'position_lineup'],
      dtype='object')

In [6]:
game_lineups_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_lineups_id  219 non-null    object
 1   game_id          219 non-null    int64
 2   type             219 non-null    object
 3   number           219 non-null    int64
 4   player_id        219 non-null    int64
 5   player_name      219 non-null    object
 6   team_captain     219 non-null    int64
 7   position         219 non-null    object
dtypes: int64(4), object(4)
memory usage: 13.8+ KB

In [7]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    152 non-null    int64
 1   name                         152 non-null    object
 2   last_season                  152 non-null    int64
 3   current_club_id              152 non-null    int64
 4   player_code                  152 non-null    object
 5   country_of_birth             152 non-null    object
 6   date_of_birth                152 non-null    datetime64[ns]
 7   sub_position                 152 non-null    object
 8   position                     152 non-null    object
 9   foot                         141 non-null    object
 10  height_in_cm                 149 non-null    float64
 11  market_value_in_eur          114 non-null    float64
 12  highest_market_value_in_eur  148 non-null    float64
 13  contract_expiration_date     106 non-null    datetime64[ns]
 14  agent_name                   107 non-null    object
dtypes: datetime64[ns](2), float64(3), int64(3), object(7)
memory usage: 17.9+ KB

In [8]:
game_lineups_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 219 entries, 0 to 218
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   game_lineups_id  219 non-null    object
 1   game_id          219 non-null    int64
 2   type             219 non-null    object
 3   number           219 non-null    int64
 4   player_id        219 non-null    int64
 5   player_name      219 non-null    object
 6   team_captain     219 non-null    int64
 7   position         219 non-null    object
dtypes: int64(4), object(4)
memory usage: 13.8+ KB

In [9]:
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3268 entries, 0 to 3267
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 3268 non-null   int64
 1   competition_id          3268 non-null   object
 2   season                  3268 non-null   int64
 3   round                   3268 non-null   object
 4   date                    3268 non-null   datetime64[ns]
 5   home_club_goals         3268 non-null   int64
 6   away_club_goals         3268 non-null   int64
 7   home_club_position      2789 non-null   float64
 8   away_club_position      2789 non-null   float64
 9   home_club_manager_name  3263 non-null   object
 10  away_club_manager_name  3263 non-null   object
 11  stadium                 3268 non-null   object
 12  attendance              3153 non-null   float64
 13  referee                 3266 non-null   object
 14  home_club_name          3158 non-null   object
 15  away_club_name          3205 non-null   object
 16  aggregate               3268 non-null   object
 17  competition_type        3268 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(4), object(10)
memory usage: 459.7+ KB

In [10]:
games_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3268 entries, 0 to 3267
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   game_id                 3268 non-null   int64
 1   competition_id          3268 non-null   object
 2   season                  3268 non-null   int64
 3   round                   3268 non-null   object
 4   date                    3268 non-null   datetime64[ns]
 5   home_club_goals         3268 non-null   int64
 6   away_club_goals         3268 non-null   int64
 7   home_club_position      2789 non-null   float64
 8   away_club_position      2789 non-null   float64
 9   home_club_manager_name  3263 non-null   object
 10  away_club_manager_name  3263 non-null   object
 11  stadium                 3268 non-null   object
 12  attendance              3153 non-null   float64
 13  referee                 3266 non-null   object
 14  home_club_name          3158 non-null   object
 15  away_club_name          3205 non-null   object
 16  aggregate               3268 non-null   object
 17  competition_type        3268 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(4), object(10)
memory usage: 459.7+ KB

In [11]:
games_df['home_club_position'].mode()[0]

3.0

In [12]:
games_df['home_club_position'].fillna(games_df['home_club_position'].mean(), inplace=True)

C:\Users\pawan singh\AppData\Local\Temp\ipykernel_28640\3643800093.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  games_df['home_club_position'].fillna(games_df['home_club_position'].mean(), inplace=True)

In [13]:
games_df['away_club_position'].fillna(games_df['away_club_position'].mean(), inplace=True)

C:\Users\pawan singh\AppData\Local\Temp\ipykernel_28640\3423117406.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  games_df['away_club_position'].fillna(games_df['away_club_position'].mean(), inplace=True)

In [14]:
games_df['attendance'].fillna(games_df['attendance'].mean(), inplace=True)

C:\Users\pawan singh\AppData\Local\Temp\ipykernel_28640\2848558362.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  games_df['attendance'].fillna(games_df['attendance'].mean(), inplace=True)

In [15]:
games_df['home_club_position'] = games_df['home_club_position'].astype(int)

In [16]:
games_df['away_club_position'] = games_df['away_club_position'].astype(int)

In [17]:
games_df['attendance'] = games_df['attendance'].astype(int)

In [18]:
players_df['height_in_cm'].fillna(players_df['height_in_cm'].mean(), inplace=True)

C:\Users\pawan singh\AppData\Local\Temp\ipykernel_28640\2091875040.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  players_df['height_in_cm'].fillna(players_df['height_in_cm'].mean(), inplace=True)

In [19]:
players_df['market_value_in_eur'].fillna(players_df['market_value_in_eur'].mean(), inplace=True)

C:\Users\pawan singh\AppData\Local\Temp\ipykernel_28640\3994334185.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  players_df['market_value_in_eur'].fillna(players_df['market_value_in_eur'].mean(), inplace=True)

In [20]:
players_df['highest_market_value_in_eur'].fillna(players_df['highest_market_value_in_eur'].mean(), inplace=True)

C:\Users\pawan singh\AppData\Local\Temp\ipykernel_28640\1240582601.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  players_df['highest_market_value_in_eur'].fillna(players_df['highest_market_value_in_eur'].mean(), inplace=True)

In [21]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 152 entries, 0 to 151
Data columns (total 15 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   player_id                    152 non-null    int64
 1   name                         152 non-null    object
 2   last_season                  152 non-null    int64
 3   current_club_id              152 non-null    int64
 4   player_code                  152 non-null    object
 5   country_of_birth             152 non-null    object
 6   date_of_birth                152 non-null    datetime64[ns]
 7   sub_position                 152 non-null    object
 8   position                     152 non-null    object
 9   foot                         141 non-null    object
 10  height_in_cm                 152 non-null    float64
 11  market_value_in_eur          152 non-null    float64
 12  highest_market_value_in_eur  152 non-null    float64
 13  contract_expiration_date     106 non-null    datetime64[ns]
 14  agent_name                   107 non-null    object
dtypes: datetime64[ns](2), float64(3), int64(3), object(7)
memory usage: 17.9+ KB

In [22]:
df = pd.merge(appearances_df, players_df, on='player_id', how='outer')                                    # joining players and appearances df
df = pd.merge(df, games_df, on='game_id', how='outer')                                                    # joining merged df and games df
df = pd.merge(df, game_events_df, on=['game_id', 'player_id'], how='outer')                               # joining merged df and game events df
df = pd.merge(df, game_lineups_df, on=['game_id', 'player_id'], how='outer')                              # joining merged df and game lineups df

In [23]:
# Save the dataframe as an Excel file
df.to_excel("Capstone_Project_Football.xlsx", index=True)

# Create a direct download link for Jupyter Notebook
from IPython.display import FileLink

# Display the download link
FileLink("Capstone_Project_Football.xlsx")

C:\Users\pawan singh\Downloads\Capstone_Project_Football.xlsx

In [24]:
Capstone_df = pd.read_excel("C:\\Users\\pawan singh\\Downloads\\Capstone_Project_Football (1).xlsx")

In [25]:
Capstone_df.info

<bound method DataFrame.info of       Unnamed: 0  appearance_id    game_id  player_id     date_x  \
0              0  2219794_39475  2219794.0      39475 2012-07-22
1              1   2221641_1335  2221641.0       1335 2012-08-19
2              2  2221771_49723  2221771.0      49723 2012-08-19
3              3   2222536_1321  2222536.0       1321 2012-08-26
4              4   2222536_1335  2222536.0       1335 2012-08-26
...          ...            ...        ...        ...        ...
4649        4649            NaN        NaN     795738        NaT
4650        4650            NaN        NaN     796429        NaT
4651        4651            NaN        NaN     860812        NaT
4652        4652            NaN        NaN     971613        NaT
4653        4653            NaN        NaN    1163778        NaT

          player_name_x competition_id_x  yellow_cards  red_cards  goals  ...  \
0        Sacha Kljestan             BESC           0.0        0.0    0.0  ...
1     Steven Cherundolo              DFB           0.0        0.0    0.0  ...
2      Timothy Chandler              DFB           0.0        0.0    0.0  ...
3        Jermaine Jones               L1           1.0        0.0    0.0  ...
4     Steven Cherundolo               L1           0.0        0.0    0.0  ...
...                 ...              ...           ...        ...    ...  ...
4649                NaN              ELQ           NaN        NaN    NaN  ...
4650                NaN              ELQ           NaN        NaN    NaN  ...
4651                NaN              ELQ           NaN        NaN    NaN  ...
4652                NaN              ELQ           NaN        NaN    NaN  ...
4653                NaN              ELQ           NaN        NaN    NaN  ...

      minute         type_x             description  player_in_id  \
0        NaN            NaN                     NaN           NaN
1       62.0  Substitutions          , Not reported       45668.0
2        NaN            NaN                     NaN           NaN
3       54.0          Cards  1. Yellow card  , Foul           NaN
4        NaN            NaN                     NaN           NaN
...      ...            ...                     ...           ...
4649     NaN            NaN                     NaN           NaN
4650     NaN            NaN                     NaN           NaN
4651     NaN            NaN                     NaN           NaN
4652     NaN            NaN                     NaN           NaN
4653     NaN            NaN                     NaN           NaN

      game_lineups_id type_y number player_name_y team_captain position_y
0                 NaN    NaN    NaN           NaN          NaN        NaN
1                 NaN    NaN    NaN           NaN          NaN        NaN
2                 NaN    NaN    NaN           NaN          NaN        NaN
3                 NaN    NaN    NaN           NaN          NaN        NaN
4                 NaN    NaN    NaN           NaN          NaN        NaN
...               ...    ...    ...           ...          ...        ...
4649              NaN    NaN    NaN           NaN          NaN        NaN
4650              NaN    NaN    NaN           NaN          NaN        NaN
4651              NaN    NaN    NaN           NaN          NaN        NaN
4652              NaN    NaN    NaN           NaN          NaN        NaN
4653              NaN    NaN    NaN           NaN          NaN        NaN

[4654 rows x 55 columns]>

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4654 entries, 0 to 4653
Data columns (total 54 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   appearance_id                3722 non-null   object
 1   game_id                      4594 non-null   float64
 2   player_id                    4654 non-null   int64
 3   date_x                       3722 non-null   datetime64[ns]
 4   player_name_x                3722 non-null   object
 5   competition_id_x             3722 non-null   object
 6   yellow_cards                 3722 non-null   float64
 7   red_cards                    3722 non-null   float64
 8   goals                        3722 non-null   float64
 9   assists                      3722 non-null   float64
 10  minutes_played               3722 non-null   float64
 11  name                         3782 non-null   object
 12  last_season                  3782 non-null   float64
 13  current_club_id              3782 non-null   float64
 14  player_code                  3782 non-null   object
 15  country_of_birth             3782 non-null   object
 16  date_of_birth                3782 non-null   datetime64[ns]
 17  sub_position                 3782 non-null   object
 18  position_x                   3782 non-null   object
 19  foot                         3687 non-null   object
 20  height_in_cm                 3782 non-null   float64
 21  market_value_in_eur          3782 non-null   float64
 22  highest_market_value_in_eur  3782 non-null   float64
 23  contract_expiration_date     2380 non-null   datetime64[ns]
 24  agent_name                   2686 non-null   object
 25  competition_id_y             3722 non-null   object
 26  season                       3722 non-null   float64
 27  round                        3722 non-null   object
 28  date_y                       3722 non-null   datetime64[ns]
 29  home_club_goals              3722 non-null   float64
 30  away_club_goals              3722 non-null   float64
 31  home_club_position           3722 non-null   float64
 32  away_club_position           3722 non-null   float64
 33  home_club_manager_name       3716 non-null   object
 34  away_club_manager_name       3716 non-null   object
 35  stadium                      3722 non-null   object
 36  attendance                   3722 non-null   float64
 37  referee                      3718 non-null   object
 38  home_club_name               3596 non-null   object
 39  away_club_name               3656 non-null   object
 40  aggregate                    3722 non-null   object
 41  competition_type             3722 non-null   object
 42  game_event_id                1849 non-null   object
 43  date                         1849 non-null   datetime64[ns]
 44  minute                       1849 non-null   float64
 45  type_x                       1849 non-null   object
 46  description                  916 non-null    object
 47  player_in_id                 1155 non-null   float64
 48  game_lineups_id              235 non-null    object
 49  type_y                       235 non-null    object
 50  number                       235 non-null    float64
 51  player_name_y                235 non-null    object
 52  team_captain                 235 non-null    float64
 53  position_y                   235 non-null    object
dtypes: datetime64[ns](5), float64(21), int64(1), object(27)
memory usage: 1.9+ MB

In [27]:
# 1. Check summary info to understand missing data and data types:
df.info()

# 2. Remove columns that have too many missing values (e.g., more than 50%)
threshold = len(df) * 0.5
df = df.dropna(axis=1, thresh=threshold)

# 3. Fill missing values in important numeric columns with 0 as default:
numeric_cols = df.select_dtypes(include='number').columns
df[numeric_cols] = df[numeric_cols].fillna(0)

# 4. For categorical columns, fill missing values with a placeholder string:
categorical_cols = df.select_dtypes(include='object').columns
df[categorical_cols] = df[categorical_cols].fillna('Unknown')

# 5. Convert date columns to datetime format (example for 'date_x'):
df['date_x'] = pd.to_datetime(df['date_x'], errors='coerce')

# 6. Remove duplicate rows if any:
df = df.drop_duplicates()

# 7. Reset index after cleaning:
df = df.reset_index(drop=True)

# 8. Optional: Rename columns to remove spaces or make consistent:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4654 entries, 0 to 4653
Data columns (total 54 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   appearance_id                3722 non-null   object
 1   game_id                      4594 non-null   float64
 2   player_id                    4654 non-null   int64
 3   date_x                       3722 non-null   datetime64[ns]
 4   player_name_x                3722 non-null   object
 5   competition_id_x             3722 non-null   object
 6   yellow_cards                 3722 non-null   float64
 7   red_cards                    3722 non-null   float64
 8   goals                        3722 non-null   float64
 9   assists                      3722 non-null   float64
 10  minutes_played               3722 non-null   float64
 11  name                         3782 non-null   object
 12  last_season                  3782 non-null   float64
 13  current_club_id              3782 non-null   float64
 14  player_code                  3782 non-null   object
 15  country_of_birth             3782 non-null   object
 16  date_of_birth                3782 non-null   datetime64[ns]
 17  sub_position                 3782 non-null   object
 18  position_x                   3782 non-null   object
 19  foot                         3687 non-null   object
 20  height_in_cm                 3782 non-null   float64
 21  market_value_in_eur          3782 non-null   float64
 22  highest_market_value_in_eur  3782 non-null   float64
 23  contract_expiration_date     2380 non-null   datetime64[ns]
 24  agent_name                   2686 non-null   object
 25  competition_id_y             3722 non-null   object
 26  season                       3722 non-null   float64
 27  round                        3722 non-null   object
 28  date_y                       3722 non-null   datetime64[ns]
 29  home_club_goals              3722 non-null   float64
 30  away_club_goals              3722 non-null   float64
 31  home_club_position           3722 non-null   float64
 32  away_club_position           3722 non-null   float64
 33  home_club_manager_name       3716 non-null   object
 34  away_club_manager_name       3716 non-null   object
 35  stadium                      3722 non-null   object
 36  attendance                   3722 non-null   float64
 37  referee                      3718 non-null   object
 38  home_club_name               3596 non-null   object
 39  away_club_name               3656 non-null   object
 40  aggregate                    3722 non-null   object
 41  competition_type             3722 non-null   object
 42  game_event_id                1849 non-null   object
 43  date                         1849 non-null   datetime64[ns]
 44  minute                       1849 non-null   float64
 45  type_x                       1849 non-null   object
 46  description                  916 non-null    object
 47  player_in_id                 1155 non-null   float64
 48  game_lineups_id              235 non-null    object
 49  type_y                       235 non-null    object
 50  number                       235 non-null    float64
 51  player_name_y                235 non-null    object
 52  team_captain                 235 non-null    float64
 53  position_y                   235 non-null    object
dtypes: datetime64[ns](5), float64(21), int64(1), object(27)
memory usage: 1.9+ MB

In [28]:
df.to_excel('cleaned_Capstone_Project_data.xlsx', index=False)

In [47]:
# Model 1: Simple Linear Regression
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
df_simple = df[['goals', 'minutes_played']].dropna()
X_simple = df_simple[['minutes_played']]
y_simple = df_simple['goals']
X_train_simple, X_test_simple, y_train_simple, y_test_simple = train_test_split(X_simple, y_simple, test_size=0.3, random_state=42)
lr_simple = LinearRegression()
lr_simple.fit(X_train_simple, y_train_simple)
y_pred_simple = lr_simple.predict(X_test_simple)
print("Simple Linear Regression")
print("Coefficients:", lr_simple.coef_)
print("Intercept:", lr_simple.intercept_)
print("Mean Squared Error:", mean_squared_error(y_test_simple, y_pred_simple))
print("R^2 Score:", r2_score(y_test_simple, y_pred_simple))

Simple Linear Regression
Coefficients: [0.00120952]
Intercept: 0.010922618870422299
Mean Squared Error: 0.08011748484042154
R^2 Score: 0.009553344782025852

In [48]:
# Model 2: Multiple Linear Regression
features = ['minutes_played', 'assists', 'yellow_cards', 'red_cards']
df_multi = df[['goals'] + features].dropna()
X_multi = df_multi[features]
y_multi = df_multi['goals']
X_train_multi, X_test_multi, y_train_multi, y_test_multi = train_test_split(X_multi, y_multi, test_size=0.3, random_state=42)
lr_multi = LinearRegression()
lr_multi.fit(X_train_multi, y_train_multi)
y_pred_multi = lr_multi.predict(X_test_multi)
print("\nMultiple Linear Regression")
print("Coefficients:", dict(zip(features, lr_multi.coef_)))
print("Intercept:", lr_multi.intercept_)
print("Mean Squared Error:", mean_squared_error(y_test_multi, y_pred_multi))
print("R^2 Score:", r2_score(y_test_multi, y_pred_multi))

Multiple Linear Regression
Coefficients: {'minutes_played': 0.00115565183830105, 'assists': 0.10647927807945223, 'yellow_cards': -0.01840691847637957, 'red_cards': -0.06046143591601699}
Intercept: 0.009765918016751335
Mean Squared Error: 0.07986562623913154
R^2 Score: 0.012666928661155707

In [45]:
from sqlalchemy import create_engine
username = 'root'
password = '8529235621@Psr'
host = 'localhost'
database = 'CAPSTONE_PROJECT'
from urllib.parse import quote_plus
password_encoded = quote_plus(password)
engine = create_engine(f"mysql+pymysql://{username}:{password_encoded}@{host}/{database}")
df.to_sql('my_table', con=engine, if_exists='replace', index=False)
print("Dataframe written to MySQL database 'df' in table 'my_table'.")

Dataframe written to MySQL database 'df' in table 'my_table'.

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4422 entries, 0 to 4421
Data columns (total 42 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   appearance_id                4422 non-null   object
 1   game_id                      4422 non-null   float64
 2   player_id                    4422 non-null   int64
 3   date_x                       3568 non-null   datetime64[ns]
 4   player_name_x                4422 non-null   object
 5   competition_id_x             4422 non-null   object
 6   yellow_cards                 4422 non-null   float64
 7   red_cards                    4422 non-null   float64
 8   goals                        4422 non-null   float64
 9   assists                      4422 non-null   float64
 10  minutes_played               4422 non-null   float64
 11  name                         4422 non-null   object
 12  last_season                  4422 non-null   float64
 13  current_club_id              4422 non-null   float64
 14  player_code                  4422 non-null   object
 15  country_of_birth             4422 non-null   object
 16  date_of_birth                3628 non-null   datetime64[ns]
 17  sub_position                 4422 non-null   object
 18  position_x                   4422 non-null   object
 19  foot                         4422 non-null   object
 20  height_in_cm                 4422 non-null   float64
 21  market_value_in_eur          4422 non-null   float64
 22  highest_market_value_in_eur  4422 non-null   float64
 23  contract_expiration_date     2270 non-null   datetime64[ns]
 24  agent_name                   4422 non-null   object
 25  competition_id_y             4422 non-null   object
 26  season                       4422 non-null   float64
 27  round                        4422 non-null   object
 28  date_y                       3568 non-null   datetime64[ns]
 29  home_club_goals              4422 non-null   float64
 30  away_club_goals              4422 non-null   float64
 31  home_club_position           4422 non-null   float64
 32  away_club_position           4422 non-null   float64
 33  home_club_manager_name       4422 non-null   object
 34  away_club_manager_name       4422 non-null   object
 35  stadium                      4422 non-null   object
 36  attendance                   4422 non-null   float64
 37  referee                      4422 non-null   object
 38  home_club_name               4422 non-null   object
 39  away_club_name               4422 non-null   object
 40  aggregate                    4422 non-null   object
 41  competition_type             4422 non-null   object
dtypes: datetime64[ns](4), float64(17), int64(1), object(20)
memory usage: 1.4+ MB